# O`zgaruvchilar

Bizda o`zgaruvchilar quyidagilar
Integer butun sonlar M: 5, 25, -54, 891, -98, 7 shu kabilar
Float bu kasr sonlar M: 10.5, 5.9, 56.7, -96.7, -89.2, 3.4 shu kabilar 
String bu yozuvlar  M: 'Men', "choynak", 'maktab', "Daftar" shu kabilar
Boolean bu True  False  qaytaruvchi xisoblanadi M: a = 20 , a>15, True// b = -45, b > 15, False shu kabi xolatlar

# INTEGER

In [3]:
a = 15
b = 45
c = -20
d = 47
type(a)
# type(b)
# type(c)
# type(d)

int

# FLOAT

In [5]:
a = 5.6
b = 7.8
c = -56.7
d = 8.9
type(a)
# type(b)
# type(c)
# type(d)

float

# STRING

In [6]:
a = "oyinchoq" 
b = 'temir'
c = "maxsulot"
d ='45'
type(a)
# type(b)
# type(c)
# type(d)

str

# BOOLEAN

In [ ]:
a = 5 
b = 47
c = -56
print(a>b)
# print(c > a)
# print(a == b)
# print(a < b)

False
False
False
True